# Python
__pycache__/
*.pyc

scripts/
sql-data/

# OS
.DS_Store
Thumbs.db

app/static/assets/hBP03-EliteSpark
app/static/assets/hBP04-CuriousUniverse
app/static/assets/hBP05-EnchantLegalia
app/static/assets/hBP06-AyakashiVermillion
